<h1>Formulario</h1>

<form method="get" action="/projects/create">
  <label for="name">Nombre del proyecto</label>
  <input name="name" />

  <label for="description">Descripcion</label>
  <textarea name="description"></textarea>

  <label for="star_date">Fecha de inicio</label>
  <input name="star_date" type="date" />

  <label for="finish_date">Fecha de termino</label>
  <input name="finish_date" type="date" />

  <label for="status">Estado del proyectoaa </label>
  <select name="status" id="">
    <option value="propuesta">Propuesta</option>
    <option value="en progreso">En progreso</option>
    <option value="terminado">Terminado</option>
  </select>
  <input type="submit" value="Enviar" />
</form>
